apiVersion: v1
kind: Secret
metadata:
  name: {{ include "todo-app.fullname" . }}-db-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
type: Opaque
data:
  password: cG9zdGdyZXNfUEFTU1dPUkQ=  # postgres_PASSWORD encoded in base64