**/.git
**/.gitignore
**/.dockerignore
**/.env
**/.env.local
**/.venv
**/venv
**/requirements-dev.txt
**/Dockerfile*
**/docker-compose*
**/.DS_Store
**/README.md
**/LICENSE
**/*.log
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/node_modules
**/.next
**/dist
**/build
**/tests
**/test
**/.github
**/.circleci
**/.gitlab-ci.yml
**/Dockerfile*
**/Makefile
**/docker-compose*
**/Vagrantfile
**/Gemfile*
**/Rakefile
**/Procfile
**/runtime.txt
**/.ruby-version
**/.nvmrc
**/.tool-versions
**/.editorconfig
**/.vscode
**/.idea
**/docs
**/screenshots
**/mocks
**/fixtures
**/coverage.xml
**/junit.xml
**/test-results
**/.scannerwork
**/.sonar
**/report.xml
**/tmp
**/temp
**/logs
**/*.tmp
**/*.bak
**/*.swp
**/*.swo
**/._*
**/.spyderproject
**/.spyproject
**/.ropeproject
**/Thumbs.db
**/.gitattributes
**/.gitmodules
**/tags
**/cscope.*
**/jupyter_notebooks
**/notebooks
**/.ipynb_checkpoints
**/profile_default
**/ipython_config.py
**/Dockerfile*
**/docker-compose*
**/k8s
**/kubernetes
**/alembic
**/alembic.ini
**/.python-version
**/scripts
**/backend
**/frontend
